@media (max-width: 768px) {

   .containerInterno .titulo h1 {
        font-size: var(--tamanhoDoTextoTituloCelular);

    }

    .containerInterno .titulo svg {
        font-size: var(--tamanhoDoIconeCelular);
    }

.containerInterno .descricao{
    display: flex;
    width: 100%;
    flex-direction: column;

}

    .containerInterno .descricao img {
        width: var(--tamanhoDaImagemParaCelularWidth);
        height: var(--tamanhoDaImagemParaCelularHeight);

    }

    .containerInterno .textoDescricao{
        padding-top: 100px;
    }

    .containerInterno .descricao p{
        color: white;
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }


}