@media (max-width: 768px) {
    .sectionHardSkill{
        width: 100vw;
        height: 100%;
        background-color: var(--corDeFundoHardSkills);
        color: white;
        
    
    }

    .sectionHardSkill .containerHardSkills .hardSkill h1{
        font-size: var(--tamanhoDoTextoTituloCelular);
    }

    .sectionHardSkill .containerHardSkills .hardSkill svg{
        font-size: var(--tamanhoDoIconeCelular);
    }
    
    .div1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .div1 p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }
    
    .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .div2 p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }
}