    @import url(../VariaveisCss/variaveisCss.css);


    .containerHardSkills {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--corDeFundoHardSkills);

    }

    .hardSkill h1 {
        padding-top: var(--distanciaDoTopo);
        font-size: var(--tamanhoDoTextoTitulo);
        color: var(--corDaFonteDoTitulo);

    }

    .hardSkill svg {
        color: #06ff61;
        font-size: var(--tamanhoDoIcone);
    }

    .div1 {
        padding: 100px 0px 100px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        

    }

    .div1_1 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .div1_1 p {
        color: black;
        
    }

    .div1_2 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .div1 img {
        width: 200px;
        height: 200px;
        margin-top: 10px;


    }

    .div1 p {
        width: 300px;
        text-align: justify;
        font-size: var(--tamanhoDoTextoParagrafo);
        padding: 0px 10px;

    }

    .div2 {
        width: 100%;
        padding: 0px 0px 100px 0px;
        display: flex;
        justify-content: center;
        gap: 20px;
        
    }

    .div2_1 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .div2_1 p {
        color: black;
    }

    .div2 img {
        width: 200px;
        height: 200px;
        padding: 2px 0px 0px 0px;
        margin-top: 10px;

    }

    .div2 p {
        width: 300px;
        text-align: justify;
        font-size: var(--tamanhoDoTextoParagrafo);
        padding: 0px 10px;


    }

    .div2_2 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .div2_2 p {
        color: black;
    }