
/*Responsivo*/
@media (max-width: 768px) {
    .footer{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        ;
        /*bottom: 0;/*para ficar absolutamente posicionado*/
    }
    
.footer .sectionFooter{
    display: flex;
    flex-direction: column;
}

    .footer .sectionFooter .icones{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        color: rgb(103, 167, 8);
        gap: 20px;
        font-size: 20px;       
    
    }

    .footer .section .copyRight{
        font-size: 10px;
    }
}

