@import url(../VariaveisCss/variaveisCss.css);

.footer .sectionFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--corDoFundoDoFooter);
    height: 60px;
}

.footer .sectionFooter .icones{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 35px;
    color: #9eff0d;
    gap: 20px;

}

.footer .sectionFooter .icones svg{
    color: #9eff0d;
    
}

.footer .sectionFooter .copyRight{
    font-size: 20px;
    color: var(--corDaFonteFooter);
}