/*importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

.principal {
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 5px -5px -5px greenyellow;
    

}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    

}

.principal .menuSite {
    box-shadow: 0px 1px 10px #00ff40;
    height: 100px;
    background-color: var(--corDoFundoDoHeader);
}

.navList {
    display: flex;
    align-items: center;
    transition: 0.5s;

}

.navList ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.navList a:hover{
    text-decoration: underline;
    
}

.navList a {
    text-decoration: none;
    color: var(--corDaFonteDoHeader);
    font-weight: bold;
    font-family: 'Roboto';  
    
}





.iconeMenuMobile {
    display: none;
}

.menuMobile {
    display: none;
}


