@media (max-width: 768px) {

    .section1{
        height: 100%;
    }
    .section1 .container {
        display: flex;
        flex-direction: column-reverse;
        
        padding-top: 100px;

    }

    .section1 .container .paragrafos {
        width: 300px;

    }

    .section1 .container .paragrafos p {
        font-size: 40px;

    }

    .section1 .container .paragrafos .efeitoDigitacao {
        font-size: 20px;
        width: 290px;
        display: flex;
        align-items: center;
        padding-left: 29px;

    }

    .section1 .container .paragrafos .icones svg {
        width: var(--tamanhoDoIconeCelular);

    }

    .section1 .container .paragrafos .icones .email {
        width: 40px;

    }

    .section1 .container .paragrafos .icones .linkedin {
        width: var(--tamanhoDoIconeCelular);

    }

    .section1 .container .paragrafos .icones .youtube {
        width: 35px;

    }

    .section1 .container .imagem img {
        width: var(--tamanhoDaImagemParaCelularWidth);
        height: var(--tamanhoDaImagemParaCelularHeight);
    }

}