@import url(../VariaveisCss/variaveisCss.css);

.container{
    background-color: var(--corDeFundoDoSection1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;    
    height: 100vh;
    padding-top: 100px;
    
    
}

.section1 .paragrafos {
    margin-top: 10px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    color: blue;
    
}

.section1 .efeitoDigitacao {
    font-size: 20px;
    width: 292px;
    padding-left: 40px;
    
}

.efeitoDigitacao {
    border-right: 15px solid rgb(0, 13, 255);
    width: 280px;
    white-space: nowrap;
    /*para não cair para a proxima linha, quando tiver um espaço em branco*/
    overflow: hidden;
    /*vai funcionar como uma maquina de corte para não deixar o texto vazar*/
    animation: cursor 0.5s step-end infinite,
        digitando 5s steps(30) infinite;
}

@keyframes cursor {
    50% {
        border-right: transparent;
    }
}

@keyframes digitando {
    0% {
        width: 0;
    }

}

.section1 .icones {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.section1 .icones svg {
    height: 100px;
    font-size: 35px;
    color: #2a39e3;
}

.section1 .icones .email {
    font-size: 50px;
}

.section1 .paragrafos .icones .github {
    font-size: 35px;
}

.container .imagem img{
    border-radius: 50%;
    border: solid var(--corDaBordaDaImagem);
    width: 300px;
    height: 300px;
}




