@media (max-width: 768px) {

    .sectionProjetos{
        display: flex;
        justify-content: center;
        padding-top: 3px;
        height: 100%;
        
        
    }
    
    .sectionProjetos .container .projeto{
        h2{
            font-size: 35px;
        }
    }

    .sectionProjetos .container .projeto svg{
        font-size: 55px;
    }

    .primeiraDiv{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        width: 100%;
            
        
    }

    .primeiraDiv p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }

    .primeiraDiv1_0 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-content: center;
        
    }

   

    .primeiraDiv1_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-content: center;
    }

    .primeiraDiv1_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-content: center;
    }

    .segundaDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 100px;
        gap: 50px;
        
    }

    .segundaDiv p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }

    .segundaDiv1_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-content: center;
    }

    .segundaDiv1_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-content: center;
    }

    .terceiraDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;
        
    }

    .terceiraDiv p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }

    .terceiraDiv1_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        justify-content: center;
    }

    .terceiraDiv1_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 450px;
    }

}