@media (max-width: 768px) {

    .sectionProjetos{
        display: flex;
        justify-content: center;
        padding-top: 3px;
        height: 100%;
        background-color: #121212;
        
    }
    
    .sectionProjetos .container .projeto{
        h2{
            font-size: 35px;
        }
    }

    .sectionProjetos .container .projeto svg{
        font-size: 55px;
    }

    .primeiraDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 100px;
        gap: 100px;
        background-color: #121212;
    }

    .primeiraDiv p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }

    .segundaDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 100px;
        gap: 50px;
        background-color: #121212;
    }

    .segundaDiv p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }

    .terceiraDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;
        background-color: #121212;
    }

    .terceiraDiv p{
        font-size: var(--tamanhoDoTextoParagrafoParaCelular);
    }
}