    @import url(../VariaveisCss/variaveisCss.css);

    .containerProjetos {
        background-color: var(--corDeFundoProjetos);
        padding-top: var(--distanciaDoTopo);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .sectionProjetos .containerProjetos .projeto h1 {
        font-size: var(--tamanhoDoTextoTitulo);
        color: var(--corDaFonteDoTitulo);
    }

    .sectionProjetos .containerProjetos .projeto svg {
        color: var(--corDoIcone);

    }

    .primeiraDiv {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 100px 0px 50px 0px;
        gap: 20px;

    }

    .primeiraDiv p {
        color: #000;
        text-align: justify;
        width: 300px;
        font-size: var(--tamanhoDoTextoParagrafo);
        margin-right: 5px;
    }

    .primeiraDiv img {
        width: 180px;
        height: 200px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .primeiraDiv1_0 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 47px;
        
    }

    .primeiraDiv1_0 p{
        padding: 10px;
    }


    .primeiraDiv1 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .primeiraDiv1_1 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .primeiraDiv1 p {
        padding: 0px 0px 0px;
        display: flex;
    }

    .primeiraDiv1_1 p {
        padding: 10px;
        display: flex;

    }

    .primeiraDiv1_2 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .primeiraDiv1_2 img {
        width: 180px;
        height: 200px;

    }

    .primeiraDiv1_2 p {
        padding: 10px;
        color: #000;

    }

    .segundaDiv {
        display: flex;
        justify-content: center;

        width: 100%;
        padding: 0px 0px 50px 0px;
        font-size: 20px;
        gap: 20px;
    }

    .segundaDiv p {
        color: #000;
        text-align: justify;
        width: 300px;
        margin-right: 5px;
        font-size: var(--tamanhoDoTextoParagrafo);

    }

    .segundaDiv img {
        width: 180px;
        height: 200px;
        margin-right: 5px;
        margin-top: 10px;
    }

    .segundaDiv1_1 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .segundaDiv1_1 p {
        padding: 0px 10px;

    }

    .segundaDiv1_2 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .segundaDiv1_2 p {
        padding: 0px 10px;

    }

    .terceiraDiv {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px 0px 50px 0px;
        font-size: 20px;
        gap: 20px;


    }

    .terceiraDiv p {
        color: #000;
        text-align: justify;
        width: 300px;
        margin-right: 5px;
        font-size: var(--tamanhoDoParagrafo);
        padding: 0px 0px 0px 10px;

    }

    .terceiraDiv img {
        width: 180px;
        height: 200px;
        margin-right: 5px;
        margin-top: 10px;
    }

    .terceiraDiv1_1 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .terceiraDiv1_1 p{
        padding: 10px;
    }

    .terceiraDiv1_2 {
        background-color: rgb(215, 217, 205);
        border-radius: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terceiraDiv1_2 p{
        padding: 10px;
    }