:root{
    --distanciaDoTopo: 20px;

    --tamanhoDoTextoTitulo: 25px;
    --tamanhoDoIcone: 35px; 
    --tamanhoDoTextoParagrafo: 20px;
    
    --corDoFundoDoHeader: #121214;
    --corDoFundoDoMenu: #e02121;
    --corDoFundoDoFooter: #121214;
    --corDeFundoDoSection1: #1c1c1e;
    --corDeFundoSobreMim:  #1c1c1e;
    --corDeFundoFormacao:  #1c1c1e;
    --corDeFundoHardSkills: #1c1c1e;
    --corDeFundoProjetos:  #1c1c1e;
    
    --corDaFonteDoHeader: #fff;
    --corDaFonteDoTitulo: #06ff61;
    --corDaFonteDoParagrafo: #000000;
    --corDaFonteFooter: #fff;

    --corDaBordaDaImagem: #2AC7E3;
    
    --corDoIcone: #06ff61;
    
    

    /*valores para recursividade*/    
    --tamanhoDaImagemParaCelularWidth: 200px;
    --tamanhoDaImagemParaCelularHeight: 200px;
    --tamanhoDoTextoParagrafoParaCelular: 17px;
    --tamanhoDoIconeCelular: 25px; 
    --tamanhoDoTextoTituloCelular: 20px;
    ----corDoFundoDoFooterCelular: #313131;
}
