
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{

    --fontRoboto: "Roboto";
    --distanciaDoTopo: 20px;

    --tamanhoDoTextoTitulo: 25px;
    --tamanhoDoIcone: 35px; 
    --tamanhoDoTextoParagrafo: 20px;
    
    --corDoFundoDoHeader: #1C1A1A;
    --corDoFundoDoMenu: #e02121;
    --corDoFundoDoFooter: #1C1A1A;
    --corDeFundoDoSection1: #121212;
    --corDeFundoSobreMim:  #121212;
    --corDeFundoFormacao:  #121212;
    --corDeFundoHardSkills: #121212;
    --corDeFundoProjetos:  #121212;
    
    --corDaFonteDoHeader: #9eff0d;
    --corDaFonteDoTitulo: #fff;
    --corDaFonteDoParagrafo: #000000;
    --corDaFonteFooter: #9eff0d;

    --corDaBordaDaImagem:#9eff0d;
    
    --corDoIcone: #fff;
    
    

    /*valores para recursividade*/    
    --tamanhoDaImagemParaCelularWidth: 200px;
    --tamanhoDaImagemParaCelularHeight: 200px;
    --tamanhoDoTextoParagrafoParaCelular: 17px;
    --tamanhoDoIconeCelular: 25px; 
    --tamanhoDoTextoTituloCelular: 20px;
    ----corDoFundoDoFooterCelular: #313131;
}
